<header class="relative z-20 flex h-[34px] w-full items-center">
  <div id="hamburger" class="mr-6 flex cursor-pointer flex-col gap-2">
    <div class="h-0.5 w-4 bg-white"></div>
    <div class="h-0.5 w-4 bg-white"></div>
  </div>

  <div id="musica" class="relative">
    <img
      src="../../../assets/SVG/icon/music_ico_yellow.svg"
      alt="Musica icon"
    />
    <img
      src="../../../assets/SVG/icon/music_ico_blue.svg"
      alt="Musica icon"
      class="absolute top-2 left-2"
    />
  </div>
  <button class="ml-auto h-5 w-5">
    <img
      src="../../../assets/SVG/icon/Search.svg"
      alt="search"
      class="h-full w-full opacity-25"
    />
  </button>
</header>
