<div class="flex flex-col items-center justify-center pt-9 [&>div]:w-[360px]">
  <div class="flex justify-between">
    <button
      class="flex h-9 w-44 items-center justify-center rounded-3xl bg-sec p-2.5 text-sm text-black"
    >
      My Collection
    </button>
    <button
      class="flex h-9 w-44 items-center justify-center gap-5 rounded-3xl border border-white border-opacity-10 bg-transparent p-2.5 text-sm text-opacity-10"
    >
      Likes
    </button>
  </div>

  <div class="flex w-[360px] flex-col items-center justify-center gap-5 pt-9">
    <app-collection-card
      *ngFor="let collection of collections"
      [collections]="collection"
    ></app-collection-card>
  </div>
</div>
