<div class="mb-6 flex flex-col gap-4 text-white">
  <h3 class="text-xl font-bold">Top Charts</h3>
  <!-- Card Container -->
  <div>
    <!-- Cards -->
    <div class="h-[233px] w-[323px] rounded-[20px] bg-[#1A1E1F] p-[14px]">
      <div class="flex justify-between">
        <figure class="h-[99px] w-[108px] rounded-[10px] bg-gray-400"></figure>
        <!-- heart/like svg -->
        <button
          (click)="ontoggle()"
          class="border-[rgba(255, 255, 255, 0.11)] grid h-[37px] w-[37px] place-content-center rounded-full border"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            [attr.fill]="[val]"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.1539 7.69874C0.349149 5.18624 1.28965 2.31449 3.9274 1.46474C5.3149 1.01699 6.8464 1.28099 7.9999 2.14874C9.09115 1.30499 10.6789 1.01999 12.0649 1.46474C14.7026 2.31449 15.6491 5.18624 14.8451 7.69874C13.5926 11.6812 7.9999 14.7487 7.9999 14.7487C7.9999 14.7487 2.4484 11.7277 1.1539 7.69874Z"
              stroke="#FACD66"
              stroke-width="0.5625"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>

      <p class="mt-[15px] text-[17px]">Golden age of 80s</p>
      <p class="mb-6 mt-[6px] text-xs opacity-50">Sean Swadder</p>
      <p class="text-sm">
        <span id="hour">2</span>:<span id="minutes">34</span>:<span id="seconds"
          >45</span
        >
      </p>
    </div>
  </div>
</div>
