<div
  class="fixed bottom-0 left-0 grid h-[125px] w-full place-content-center bg-player backdrop-blur-lg"
>
  <div class="flex h-[57.41px] w-[358.57px] items-center justify-between">
    <!-- song details -->
    <div class="flex flex-row items-center">
      <figure
        class="image-shadow mr-3 h-full w-[57.41px] overflow-hidden rounded-2xl bg-gray-400"
      >
        <img
          src="../../../assets/SVG/album_art/album_art (8).svg"
          alt=""
          class="object-cover"
        />
      </figure>
      <div class="flex h-full flex-col justify-center font-bold">
        <p class="text-base">Seasons In</p>
        <p class="text-xs opacity-40">James</p>
      </div>
    </div>
    <!-- player actions -->
    <div class="flex h-full items-center">
      <!-- play -->
      <button class="mr-9 h-[34px] w-[34px]">
        <img src="../../../assets/SVG/play.svg" alt="" class="play-shadow" />
      </button>

      <!-- Next -->
      <button class="h-[13.35px] w-[12.19px]">
        <img src="../../../assets/SVG/next.svg" alt="" />
      </button>
    </div>
  </div>
</div>
