<div class="mt-7 flex w-full flex-col items-center justify-center">
  <div
    class="relative flex h-[503px] w-[367px] cursor-pointer flex-col justify-between rounded-[20px] bg-[#609EAF] pb-11 pt-8 pl-8 text-white"
  >
    <img
      src="../../../assets/SVG/bg/particle_wave.svg"
      aria-hidden="true"
      alt=""
      class="absolute left-[102px] bottom-[76px]"
    />
    <h3 class="text-xs">Curated Playlist</h3>
    <div>
      <h4 class="mb-[6px] text-4xl font-bold">R & B Hits</h4>
      <p class="w-[276px] text-sm">
        All mine, Lie again, Petty call me everyday, Out of time, No love, Bad
        habit, and so much more
      </p>
      <div class="flex items-center pt-12">
        <div id="likes" class="mr-5 flex -space-x-6">
          <img
            src="../../../assets/SVG/user/user_ellipse1.svg"
            alt="users who like playlist"
          />
          <img
            src="../../../assets/SVG/user/user_ellipse2.svg"
            alt="users who like playlist"
          />
          <img
            src="../../../assets/SVG/user/user_ellipse3.svg"
            alt="users who like playlist"
          />
          <img
            src="../../../assets/SVG/user/user_ellipse4.svg"
            alt="users who like playlist"
          />
          <img
            src="../../../assets/SVG/user/user_ellipse5.svg"
            alt="users who like playlist"
          />
        </div>
        <img src="../../../assets/SVG/icon/like.svg" alt="likes" class="mr-4" />
        <p class="text-2xl">33K Likes</p>
      </div>
    </div>
  </div>
  <app-charts class="mt-12 w-full"></app-charts>
</div>
